@import "./../../styles/variables.scss";

.loginform {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  // background: linear-gradient(
  //     rgba(255, 255, 255, 0.7),
  //     rgba(255, 255, 255, 0.3)
  //   ),
  //   url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.loginform__wrapper{
    background-color: white;
    padding: 5px 60px;
    border-radius: 10px;
}

p {
  margin-top: 3%;
  margin-bottom: 3%;
}

h1{
    margin-top: 3%;
    color: black;
    text-align: center;
    margin-bottom: 5px;
}

button{
  width: 100%;
  height: 50px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}

.signupbutton{
  width: 25%;
  height: 25px;
  border-radius: 3px;
  font-weight: normal;
  padding: 5px;
  font-size: 14px;

}

.forminput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

label{
    font-size: 12px;
    color: gray;
}


input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}